.multilingual_languages {
  .wpml-ls-statics-shortcode_actions {
	  width: unset;
      padding: 0;
  }
  .wpml-ls-sub-menu ,a {
    border: none;
    background: transparent;
  }
  a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 24px;
  }
}
